@model SmartPark.Entity.User
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Smart Parking | Session time-out</title>
    <meta name="viewport" content="width=device-width">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/skeleton.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <link rel="icon" href="assets/img/favicon.ico" type="image/x-icon">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/modernizr")
<body class="session-timeout">
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGout success -->
        <div class="session_timeout">
            <h3>Session time-out</h3>
            <p>Please log back in to continue</p>
            <a href="#" class="close"></a>

            <!-- BEGIN LOGIN FORM -->
 @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical login-form" }))
        {
            @Html.AntiForgeryToken()
                <div class="control-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "control-label" })
                    <div class="forget-username">
                        <a href="/Account/ForgotUsername" class="" id="forget-username">I forgot</a>
                    </div>
                    <div class="controls">
                        <div class=" left">
                            @*<input class="m-wrap" type="text" name="username" />*@
                            @Html.TextBoxFor(m => m.UserName, new { @class = "m-wrap", tabindex = 1, maxlength = "40" })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    <div class="forget-password">
                        <a href="/Account/ForgotPassword" class="" id="forget-password">I forgot</a>
                    </div>
                    <div class="controls">
                        <div class="left">
                            @*<input class="m-wrap" type="password" name="password" />*@
                            @Html.PasswordFor(m => m.Password, new { @class = "m-wrap", tabindex = 2, maxlength = "15" })
                            @Html.ValidationMessageFor(m => m.Password)

                        </div>
                    </div>
                    <div class="editor-field">

                        @if (!ViewData.ModelState.IsValid)
                        {       
                            <span class="field-validation-error">
                                @ViewData.ModelState["UsrnamePassword"].Errors[0].ErrorMessage</span>
                        }
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn orange login_btn" tabindex="3">
                        Log in   
                    </button>
                </div>
        }
            <!-- END LOGIN FORM -->

        </div>

        <!-- END LOGout success -->
    </div>
    <!-- END LOGIN -->

</body>
<!-- END BODY -->
</html>
<script>
    $(document).ready(function () {
        //set focus to 1st input field
        $("#UserName").focus();

        $(".input-validation-error").val("");

        $(document).ready(function () {
            $('#Password').live("paste", function (e) {
                e.preventDefault();
            });      
        });

        $("#Password").keypress(function (e) {
            if (e.keyCode == 32) {
                // user has pressed space               
                e.preventDefault();
            }
        });
    });
</script>
