@model SmartPark.Entity.ResetPassword
@{
    Layout = null;
}
<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>Smart Parking | Change Password</title>
    <meta content="width=device-width" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->


    <link href="~/Content/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style-metro.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/style-responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/Content/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/Content/css/pages/login.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/skeleton.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <!-- END PAGE LEVEL STYLES -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @*<link rel="shortcut icon" href="favicon.ico" />*@
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="change_password">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <img src="~/Content/img/logo.png" alt="SmartParkLogo" />
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">

        @using (Html.BeginForm("AccessForgotPasswordLink", "Account",
                         new { @class = "form-vertical" }))
        {
            @Html.AntiForgeryToken()
            <!-- BEGIN LOGIN FORM -->
            <h3 class="">Change Password</h3>
            <p>You will use this new password to sign into the site from now on.</p>
            <p style="color:green;">@ViewBag.Message </p>
            <div class="pass_instruction">
                <h4>Your password...</h4>
                <ul>
                    <li>Must be 8 to 15 characters long.</li>
                    <li>Must be a combination of letters and numbers/symbols. No spaces.</li>
                </ul>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "control-label" })
                <div class="controls">
                    <div class="left">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "m-wrap", maxlength = "15" })
                        <span class="field-validation-error" style="display: none;" id="spanStrLength_NewPassword">
                            <span>The New Password must be at least 8 and at most 15 characters long.</span>
                        </span>
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @id = "spanRegExpres_NewPassword" })
                    </div>
                </div>
            </div>
            <div class="control-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label", maxlength = "15" })
                <div class="controls">
                    <div class="left">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "m-wrap" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn orange btn_change_pass">
                    Change Password
                </button>
                <input class="btn orange cancel" type="button" onclick=" window.location = '/Account/Login'" value="Cancel" />
                @* <input type="submit" value="Log On" />*@
            </div>

            <!-- END LOGIN FORM -->
        }

    </div>

</body>
<!-- END BODY -->
</html>
<script>

    function fn_isValid(obj) {
        if (($(obj).val().length >= 8) && ($(obj).val().length <= 15)) {
            $("#spanStrLength_" + $(obj).attr("id")).css("display", "none");
            $("#spanRegExpres_" + $(obj).attr("id")).css("display", "block");
            return true;
        }
        else {
            $("#spanStrLength_" + $(obj).attr("id")).css("display", "block");
            $("#spanRegExpres_" + $(obj).attr("id")).css("display", "none");
            return false;
        }
    }

    $(document).ready(function () {
        //set focus to 1st input field
        $("#NewPassword").focus();

        //Validate password length as length at least 8 and at most 15 characters long.
        $("#NewPassword").blur(function () {
            fn_isValid(this);
        });

        $('#NewPassword').live("paste", function (e) {
            e.preventDefault();
        });

        $("#NewPassword").keypress(function (e) {
            if (e.keyCode == 32) {
                // user has pressed space
                e.preventDefault();
            }
        });
    });
</script>


